{{!< layout}}

<div class="aui-page-panel main-panel">
  <div class="aui-page-panel-inner">
    <section class="aui-page-panel-item">
      <div class="aui-group">
        <div class="aui-item">
          <p class="subtitle">Issue key: </p>
          <p>
            <button class="aui-button aui-button-primary" type="button" onclick="getIssuesOfCurrentUser()">
              Get current issues
            </button>
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
